
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/css.css}" href="../static/css/css.css">
</head>
<body>

<div class="container">

    <div sec:authorize="isAnonymous()">
        <h1 th:inline="text">Velkommen!</h1>
        <a th:href="@{/login}">Klikk her for å logge inn</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <h1>Hallo, <span th:text="|${first_name}|"></span>!</h1>

        <form th:action="@{/workplace}" method="get">
            <button class="largeBtn" type="submit">Gå til din organisasjon</button>
        </form>
    </div>


</div>

</body>
</html>