<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Workplace</title>
    <link rel="stylesheet" th:href="@{/css/css.css}" href="../static/css/css.css" />
</head>
<body>

<div class="container">

    <div class="logoContainer">
        <img id="workplace_logo" th:src="@{'data:image/jpeg;base64,'+${workplace_logo}}" >
    </div>

    <div class="contentContainer">
        <h1>Hei, <span th:text="|${first_name}|"></span>! Du arbeider i <span th:text="|${work_name}|"></span>!</h1>
        <form th:action="@{/home}" >
            <button class ="smallBtn" type="submit">Gå til startside</button>
        </form>
    </div>

</div>

</body>
</html>