<!DOCTYPE html>
<html xmlns:url="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Workplace</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" />
</head>
<body>



    <div class="App" >

        <section class="main_background">
            <div th:style="@{'background: url(data:image/jpeg;base64,' + ${workplace_background} + '); position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: cover; z-index: -1;'}"></div>

                <img class="work_logo" th:src="@{'data:image/jpeg;base64,'+${workplace_logo}}" >

                <div class="w3-container-workpage">

                    <h1>Hei <span th:text="|${first_name}|"></span>, velkommen til din arbeidsplass!</h1>
                    <form th:action = "@{${work_url}}">
                        <button class ="w3-btn-work w3-black" onclick="" type="submit">Til <span th:text="|${work_name}|"></span></button>
                    </form>
                    <form th:action="@{/home}" >
                        <button class ="w3-btn-work w3-black" type="submit">Til startside</button>
                    </form>

                </div>
        </section>
    </div>

</body>
</html>