html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 60%;
    background-color: #EDF0F3;
    font-family: Open Sans,sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submitBtn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 41px;
    padding: 29px;
    background: #3498db;
    text-decoration: none;
}

.submitBtn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

h1{
    font-family: Sofia-Pro-Medium,Open Sans,sans-serif;
    font-size: 100px;
}